<ul class="nav">

					<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">View <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="presto-dashboard.html">Content Dashboard</a></li>
                          <li><a href="#">Asset Gallery</a></li>
                          <li><a href="presto-wires.html">Wires</a></li>
                        </ul>
                      </li>
                      
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Create <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li class="nav-header">Articles</li>
                          <!--
<li class="dropdown-submenu">
                          	<a tabindex="-1" href="#">Blog Post</a>
						  	<ul class="dropdown-menu">
								<li><a href="#">App Insider		  </a></li>	
								<li><a href="#">Book Buzz		  </a></li>	
								<li><a href="#">Book Review		  </a></li>	
								<li><a href="#">Breaking News	  </a></li>	
								<li><a href="#">Campus Rivalry	  </a></li>	
								<li><a href="#">Corrections		  </a></li>	
								<li><a href="#">Cruise Log		  </a></li>	
								<li><a href="#">CyberTruth		  </a></li>	
								<li><a href="#">Daily Pitch		  </a></li>	
								<li><a href="#">Dispatches		  </a></li>	
								<li><a href="#">Drive On		  </a></li>	
								<li><a href="#">Event			  </a></li>	
								<li><a href="#">Faith & Reason	  </a></li>	
								<li><a href="#">Fantasy Joe		  </a></li>	
								<li><a href="#">Fantasy Windup	  </a></li>	
								<li><a href="#">Fighting Stances  </a></li>	
								<li><a href="#">Game Hunters	  </a></li>	
								<li><a href="#">Game On!		  </a></li>	
								<li><a href="#">Green House		  </a></li>	
								<li><a href="#">Happy Ever After  </a></li>	
								<li><a href="#">Hotel Check-In	  </a></li>	
								<li><a href="#">Idol Chatter	  </a></li>	
								<li><a href="#">Idol Meter		  </a></li>	
								<li><a href="#">Kindness		  </a></li>	
								<li><a href="#">Lifeline Live	  </a></li>	
								<li><a href="#">Live From		  </a></li>	
								<li><a href="#">On Deadline		  </a></li>	
								<li><a href="#">On Politics		  </a></li>	
								<li><a href="#">Paw Print Post	  </a></li>	
								<li><a href="#">Points of Interest</a></li>	
								<li><a href="#">Pop Candy		  </a></li>	
								<li><a href="#">Pressreleases	  </a></li>	
								<li><a href="#">Promo			  </a></li>	
								<li><a href="#">Science Fair	  </a></li>	
								<li><a href="#">Short Takes		  </a></li>	
								<li><a href="#">Technology Live	  </a></li>	
								<li><a href="#">Test			  </a></li>	
								<li><a href="#">The Huddle		  </a></li>	
								<li><a href="#">The Oval		  </a></li>	
								<li><a href="#">Today in the Sky  </a></li>	
								<li><a href="#">View from China	  </a></li>	
	                        </ul>
                          </li>
-->
                          <li><a href="presto-create-story.html">Story</a></li>
                            <li><a href="#">Blog</a></li>
                          <li><a href="presto-breakingnews.html">Breaking News</a></li>
                          <li><a href="#">Book Review</a></li>
                          <li class="divider"></li>
                          <li class="nav-header">Assets</li>
                          <li><a href="#">Gallery</a></li>
                          <li><a href="#">Video</a></li>
                          <li><a href="#">Multi-Image Upload</a></li>
                        </ul>
                      </li>
                      
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          	<li class="nav-header">Sections</li>
							<li><a href="#">Home				  </a></li>
							<li><a href="#">News				  </a></li>
							<li><a href="#">Sports				  </a></li>
							<li><a href="#">Life				  </a></li>
							<li><a href="#">Money				  </a></li>
							<li><a href="#">Tech				  </a></li>
							<li><a href="#">Travel				  </a></li>
	                        <li class="divider"></li>
							<li class="nav-header">Special</li>
							<li><a href="#">Curated Topic		  </a></li>
							<li><a href="#">Global Modules		  </a></li>
							<li><a href="#">Html Edit Test		  </a></li>
							<li><a href="#">Manage Fronts		  </a></li>
							<li><a href="#">Mobile Config Tool	  </a></li>
							<li><a href="#">Social Media		  </a></li>
							<li><a href="#">Staff Edit			  </a></li>
							<li><a href="#">Staff Maintenance	  </a></li>
							<li><a href="#">User Generated Content</a></li>
                        </ul>
                      </li>
                      
            <li class="dropdown">
                            <a href="http://presto-dev.usatoday.com/PropertyAdmin.aspx" data-toggle="dropdown" class="dropdown-toggle">Property Admin <b class="caret"></b></a>

                        <ul class="dropdown-menu">

                <li >
                                <a href="http://presto-dev.usatoday.com/PropertyAdmin/URLChanges.aspx" class="dropdown-toggle">URL Changes</a>

                    
                </li>
                <li >
                                <a href="http://presto-dev.usatoday.com/PropertyAdmin/ManageUsersRoles.aspx" class="dropdown-toggle">Manage Users &amp; Roles</a>

                    
                </li>
                <li >
                                <a href="http://presto-dev.usatoday.com/PropertyAdmin/ViewasUser.aspx" class="dropdown-toggle">View as User</a>

                    
                </li>
                <li >
                                <a href="http://presto-dev.usatoday.com/PropertyAdmin/DeactivateSection.aspx" class="dropdown-toggle">Deactivate Section</a>

                    
                </li>
                <li >
                                <a href="http://presto-dev.usatoday.com/PropertyAdmin/ManageDropdowns.aspx" class="dropdown-toggle">Manage Dropdowns</a>

                    
                </li>
                <li >
                                <a href="http://presto-dev.usatoday.com/PropertyAdmin/TestSkinPage.aspx" class="dropdown-toggle">TestSkinPage</a>

                    
                </li>
                <li >
                                <a href="http://presto-dev.usatoday.com/PropertyAdmin/ModalTest.aspx" class="dropdown-toggle">Modal Test</a>

                    
                </li>
                <li >
                                <a href="http://presto-dev.usatoday.com/PropertyAdmin/SampleModule.aspx" class="dropdown-toggle">Sample Module</a>

                    
                </li>
                <li >
                                <a href="http://presto-dev.usatoday.com/PropertyAdmin/PrestoSettings.aspx" class="dropdown-toggle">Presto Settings</a>

                    
                </li>
                <li class="dropdown-submenu">
                                <a href="http://presto-dev.usatoday.com/PropertyAdmin/Mobile/Content.aspx" class="dropdown-toggle">Mobile</a>

                            <ul class="dropdown-menu">

                <li >
                                <a href="http://presto-dev.usatoday.com/PropertyAdmin/Mobile/TestMobilePage.aspx" class="dropdown-toggle">Test Mobile Page</a>

                    
                </li>
                <li >
                                <a href="http://presto-dev.usatoday.com/PropertyAdmin/Mobile/Content.aspx" class="dropdown-toggle">Content</a>

                    
                </li>
        </ul>

                </li>
                <li >
                                <a href="http://presto-dev.usatoday.com/PropertyAdmin/PageManager.aspx" class="dropdown-toggle">Page Manager</a>

                    
                </li>
        </ul>

            </li>
            <li class="dropdown">
                            <a href="http://presto-dev.usatoday.com/Dev.aspx" data-toggle="dropdown" class="dropdown-toggle">Dev <b class="caret"></b></a>

                        <ul class="dropdown-menu">

                <li class="dropdown-submenu">
                                <a href="http://presto-dev.usatoday.com/Dev/Dev_View.aspx" class="dropdown-toggle">Dev_View</a>

                            <ul class="dropdown-menu">

                <li >
                                <a href="http://presto-dev.usatoday.com/Dev/Dev_View/Budget.aspx" class="dropdown-toggle">Budget</a>

                    
                </li>
                <li >
                                <a href="http://presto-dev.usatoday.com/Dev/Dev_View/UtilityModule.aspx" class="dropdown-toggle">UtilityModule</a>

                    
                </li>
                <li >
                                <a href="http://presto-dev.usatoday.com/Dev/Dev_View/Trending.aspx" class="dropdown-toggle">Trending</a>

                    
                </li>
                <li >
                                <a href="http://presto-dev.usatoday.com/Dev/Dev_View/Trending_2.aspx" class="dropdown-toggle">Trending_2</a>

                    
                </li>
                <li >
                                <a href="http://presto-dev.usatoday.com/Dev/Dev_View/UploadTest.aspx" class="dropdown-toggle">UploadTest</a>

                    
                </li>
                <li >
                                <a href="http://presto-dev.usatoday.com/Dev/Dev_View/Search.aspx" class="dropdown-toggle">Search</a>

                    
                </li>
        </ul>

                </li>
                <li class="dropdown-submenu">
                                <a href="http://presto-dev.usatoday.com/Dev/Dev_Create.aspx" class="dropdown-toggle">Dev_Create</a>

                            <ul class="dropdown-menu">

                <li >
                                <a href="http://presto-dev.usatoday.com/Dev/Dev_Create/Interactive.aspx" class="dropdown-toggle">Interactive</a>

                    
                </li>
                <li class="dropdown-submenu">
                                <a href="http://presto-dev.usatoday.com/Dev/Dev_Create/Templates.aspx" class="dropdown-toggle">Templates</a>

                            <ul class="dropdown-menu">

                <li >
                                <a href="http://presto-dev.usatoday.com/Dev/Dev_Create/Templates/Template1.aspx" class="dropdown-toggle">Template 1</a>

                    
                </li>
                <li >
                                <a href="http://presto-dev.usatoday.com/Dev/Dev_Create/Templates/Template2.aspx" class="dropdown-toggle">Template 2</a>

                    
                </li>
        </ul>

                </li>
                <li >
                                <a href="http://presto-dev.usatoday.com/Dev/Dev_Create/UploadAudio.aspx" class="dropdown-toggle">Upload Audio</a>

                    
                </li>
                <li >
                                <a href="http://presto-dev.usatoday.com/Dev/Dev_Create/Wirestestonly.aspx" class="dropdown-toggle">Wires test only</a>

                    
                </li>
        </ul>

                </li>
                <li >
                                <a href="http://presto-dev.usatoday.com/Dev/RightNow.aspx" class="dropdown-toggle">Right Now</a>

                    
                </li>
                <li >
                                <a href="http://presto-dev.usatoday.com/Dev/StyleGuide.aspx" class="dropdown-toggle">Style Guide</a>

                    
                </li>
                <li >
                                <a href="http://presto-dev.usatoday.com/Dev/ImageManager.aspx" class="dropdown-toggle">Image Manager</a>

                    
                </li>
        </ul>

            </li>
    </ul>