<section id="frontassignment" class="muted text-small">
<label style="margin-bottom: 10px;">Front Assignments <a href="#showFA" data-toggle="modal" class="icon-cog pull-right muted xsmall"></a></label>

<div>
	<strong>Asbury Park Press</strong>  
	<button class="btn btn-micro pull-right" ng-click="toggleFrontS0()">edit</button>
	<div ng-show="!isFrontS0" class="indent-10">None</div>

		<div id="fronts0" ng-show="isFrontS0">
		   <div class="select2-container select2-container-multi span12 ng-valid ng-dirty" id="s2id_autogen1" style="">
        	<ul class="select2-choices" style="">  
        		<li class="select2-search-choice selection-row">    
            		<div>NEWS</div>
            		<a href="#" onclick="return false;" class="select2-search-choice-close" tabindex="-1"></a>
            	</li>
            	<li class="select2-search-choice selection-row">
            		<div>Tech Mobile New</div>    <a href="#" onclick="return false;" class="select2-search-choice-close" tabindex="-1"></a>
            	</li>
        		<li class="select2-search-field">    
        			<input type="text" autocomplete="off" autocorrect="off" autocapitilize="off" spellcheck="false" class="select2-input select2-default" tabindex="0">  
        		</li>
        	</ul>
		</div>
		</div>
		
	</div>

<div ng-show="!isFa1">
	<strong>My Central Jersey</strong>  
	<button class="btn btn-micro pull-right" ng-click="toggleFrontS1()">edit</button>
	<div ng-show="!isFrontS1" class="indent-10">None</div>

		<div id="fronts1" ng-show="isFrontS1">
		   <div class="select2-container select2-container-multi span12 ng-valid ng-dirty" id="s2id_autogen1" style="">
        	<ul class="select2-choices" style="">  
        		<li class="select2-search-choice selection-row">    
            		<div>NEWS</div>
            		<a href="#" onclick="return false;" class="select2-search-choice-close" tabindex="-1"></a>
            	</li>
            	<li class="select2-search-choice selection-row">
            		<div>Tech Mobile New</div>    <a href="#" onclick="return false;" class="select2-search-choice-close" tabindex="-1"></a>
            	</li>
        		<li class="select2-search-field">    
        			<input type="text" autocomplete="off" autocorrect="off" autocapitilize="off" spellcheck="false" class="select2-input select2-default" tabindex="0">  
        		</li>
        	</ul>
		</div>
		</div>
		
	</div>

<div ng-show="!isFa2">
	<strong>Courier Post</strong>  
	<button class="btn btn-micro pull-right" ng-click="toggleFrontS2()">edit</button>
	<div ng-show="!isFrontS2" class="indent-10">None</div>

<div id="fronts2" ng-show="isFrontS2">

   <div class="select2-container select2-container-multi span12 ng-valid ng-dirty" id="s2id_autogen1" style="">
	<ul class="select2-choices" style="">
	<li class="select2-search-choice selection-row">    
    		<div>NEWS</div>
    		<a href="#" onclick="return false;" class="select2-search-choice-close" tabindex="-1"></a>
    	</li>
    	<li class="select2-search-choice selection-row">
    		<div>Tech Mobile New</div>    <a href="#" onclick="return false;" class="select2-search-choice-close" tabindex="-1"></a>
    	</li>
		<li class="select2-search-field">    
			<input type="text" autocomplete="off" autocorrect="off" autocapitilize="off" spellcheck="false" class="select2-input select2-default" tabindex="0">  
		</li>
	</ul>
	</div>
</div>
</div>

</section>

<hr class="clear">