<div draggable="true" ng-click="addAsset()" class="assetItem">

<div class="row-fluid">

<div class="span1 assetIcons">
<i class="p-icon-html"  title="Embed"><label>Embed</label></i>

	<a href="#"><i class="p-icon-export-2"  title="Insert at Pointer"><label>Insert at Pointer</label></i></a>
	<a href="#"><i class="icon-plus-sign" title="Associate but do not Insert"><label>Associate</label></i></a>

</div>

<div class="span8 assetMetadata">
<span class="assetTitle">Pensive Parakeet</span>
<footer>

<!--#include virtual="presto-assetbullet.html" -->

</footer>
</div>

<div class="span3 assetThumbnail">
<div>
<!-- <div class="assetPlayIcon"><i class="icon-play-circle"></i></div> -->
<img src="img/Photos/Pensive%20Parakeet.jpg" alt="Pensive%20Parakeet">
</div>
</div>

</div>

</div>