<div class="btn-group dropdown metalinks">

	<button class="btn btn-mini asset-bullet" title="click to copy ID to clipboard"><i class="p-icon-record published"></i><!-- <i class="p-icon-sharethree published"></i>  --> ID 838098</button>
	<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
	
	<ul class="dropdown-menu">

		<div class="muted text-small pull-left">
			<div class="meta-data">
				<div> <strong>Last action:</strong> <span class="capitalize published">Published</span> - 8/28/13 9:41 AM</span>
				<div><strong>Created by:</strong> jsmith</div>
				<div><strong>Modified by:</strong> jsmith</div>
				<div id="assetorigin" class=""><strong>Site:</strong> <a href="http://www.app.com/" target="external">Asbury Park Press</a></div>
				<div><strong>Sub-site:</strong> <a ng-bind="subsitename" href="http://www.app.com/" target="external">None</a></div>
				
				<li class="divider"></li>
			</div>
			<!-- dropdown menu links -->
				<li class="noedit"><a href="#">Edit Asset</a></li>
				<li><a href="#">Duplicate Asset</a></li>
				<li class="divider"></li>
				<li><a href="#">View XML</a></li>
				<li><a href="#">View JSON</a></li>
		</div>
	</ul>
	
</div>