<div id="assettabs">

<div class="pull-right" style="position: relative; right: 30px; top:5px">

	<a href="" class="shorten-link" ng-show="isSaved">http://ux-dev.usatoday.com/story/sports/ncaaf/2013/10/09/air-force-san-diego-state-game-on-for-thursday/971863/</a>
	
	<ng-include src="'partials/presto-assetbullet-create.html'"></ng-include>


</div>

<ul class="nav nav-tabs nav-top">
	<li class="active"><a href="#story" data-toggle="tab">Story</a></li>
	<li><a href="#versions" data-toggle="tab">Versions</a></li>
</ul>

</div>