
				<fieldset id="storycopy" class="span5">
			
					<section id="articlecontent">
						
					<div class="row">
				
					<label  class="pull-left">Associated Asset</label>
					<div class="label-text small pull-right">leave blank for front page</div>
					<input id="storyid" class="input-xlarge" type="text"  name="storyid" placeholder="Enter Asset ID or URL">
				
				</div>
							
					<div class="row">
					<label  class="pull-left">Brief</label>
					<div class="charcount label-text pull-right"><strong ng-bind="0 + brief.length"></strong> / 120</div>
					<textarea id="brief" ng-model="brief" name="brief" cols="8" rows="8" placeholder="THIS IS A BREAKING STORY. PLEASE CHECK <a href='http://www.usatoday.com'>WWW.USATODAY.COM</a> FOR UPDATES."></textarea>
				</div>
				
					</section>

			</fieldset>
				
				<fieldset id="headlinoverrides" class="span8">
				
					<h3 class="bordertop span12"><i class="icon-globe"></i> Web/API</h3> 
	 				 
	 				<fieldset id="weboverride" class="row-fluid">

						<div class="span4 sidehead">
						
						<h4><i id="status-Banner" ng-class="{true: 'published icon-ok', false: 'unpublished icon-ban-circle'}[isPublishedNow]"></i> Banner</h4>
							
						<div ng-show="isPublished" class="xsmall label-text publishdate"><em>3/2/2013 4:48 PM</em></div>
						
							<div class="pull-right input-prepend">
								<button class="btn btn-warning" ng-disabled="!isPublishedNow" ng-click="unpublish()"><i class="icon-ban-circle"></i></button>
								<input type="number" ng-class="{true: 'expirevalue countdown', false: 'expirevalue'}[isPublishedNow]" class="" value="30">
							</div>
						</div>
					 
						<div class="span7 headlineoverride">
						
						
						<div class="input-append">
							<input type="text" placeholder="" ng-model="weboverride1" class="overrideheadline" value="{{defaultheadline}}">
							<div  class="charcount btn disabled"><strong ng-bind="0 + weboverride.length"></strong> / 55</div>
							
							
							<a href="#preview1" data-toggle="modal" class="btn" ng-disabled="storyform.$invalid"><i class="icon-eye-open"></i></a>
							<button class="btn btn-success" ng-disabled="storyform.$invalid" ng-click="publish()"><i class="icon-arrow-right"></i></button>
						</div>
						
						</div>
						
				
						
	 				</fieldset>	
	 				
				
					<h3 class="bordertop span12"><i class="p-icon-mobile"></i> Mobile</h3> 
	 				
	 				<fieldset id="mobileoverride" class="row-fluid">

						<div class="span4 sidehead">
						<h4><i ng-class="{true: 'published icon-ok', false: 'unpublished icon-ban-circle'}[isPublishedNow]"></i> Banner</h4>
							
						<div ng-show="isPublished" class="xsmall label-text publishdate"><em>3/2/2013 4:48 PM</em></div>
							
							<div class="pull-right input-prepend">
								<button class="btn btn-warning" ng-disabled="!isPublishedNow" ng-click="unpublish()"><i class="icon-ban-circle"></i></button>
								<input type="number" ng-class="{true: 'expirevalue countdown', false: 'expirevalue'}[isPublishedNow]" class="" value="30">
							</div>
						</div>
					
						
					
						<div class="span7 headlineoverride">
						
						
						<div class="input-append">
							<input type="text" placeholder="" ng-model="weboverride2" class="overrideheadline" value="{{defaultheadline}}">
							<div  class="charcount btn disabled"><strong ng-bind="0 + weboverride.length"></strong> / 55</div>
							<a href="#preview1" data-toggle="modal" class="btn" ng-disabled="storyform.$invalid"><i class="icon-eye-open"></i></a>
							<button class="btn btn-success" ng-disabled="storyform.$invalid" ng-click="publish()"><i class="icon-arrow-right"></i></button>
						</div>
						
						</div>
						
	 				</fieldset>		
	 				
	 				<fieldset id="movilepushoverride" class="row-fluid">

						<div class="span4 sidehead">
						<h4><i ng-class="{true: 'published icon-ok', false: 'unpublished icon-ban-circle'}[isPublished]"></i> Push Alert</h4>

							
						<div ng-show="isPublished" class="xsmall label-text publishdate"><em>3/2/2013 4:48 PM</em></div>
						</div>
					
						
					
						<div class="span7 headlineoverride">
						
						 
						<div class="input-append">
							<input type="text" placeholder="" ng-model="weboverride3" class="overrideheadline" value="{{defaultheadline}}">
							<div  class="charcount btn disabled"><strong ng-bind="0 + weboverride.length"></strong> / 55</div>
							<a href="#preview1" data-toggle="modal" class="btn" ng-disabled="storyform.$invalid"><i class="icon-eye-open"></i></a>
							<button class="btn btn-success" ng-disabled="storyform.$invalid" ng-click="publish()"><i class="icon-arrow-right"></i></button>
						</div>
						
						</div>
						
	 				</fieldset>	 
	 				
	 				
					<h3 class="bordertop span12"><i class="p-icon-tablet"></i> Tablet</h3> 
	 				
	 				<fieldset id="tabletbanneroverride" class="row-fluid">

						<div class="span4 sidehead">
							<h4><i ng-class="{true: 'published icon-ok', false: 'unpublished icon-ban-circle'}[isPublishedNow]"></i> Banner</h4>
							
							
						<div ng-show="isPublished" class="xsmall label-text publishdate"><em>3/2/2013 4:48 PM</em></div>
							<div class="pull-right input-prepend">
								<button class="btn btn-warning" ng-disabled="!isPublishedNow" ng-click="unpublish()"><i class="icon-ban-circle"></i></button>
								<input type="number" ng-class="{true: 'expirevalue countdown', false: 'expirevalue'}[isPublishedNow]" class="" value="30">
							</div>
						</div>
					
						
					
						<div class="span7 headlineoverride">
						
						
						<div class="input-append">
							<input type="text" placeholder="" ng-model="weboverride4" class="overrideheadline" value="{{defaultheadline}}">
							<div  class="charcount btn disabled"><strong ng-bind="0 + weboverride.length"></strong> / 55</div>
							<a href="#preview1" data-toggle="modal" class="btn" ng-disabled="storyform.$invalid"><i class="icon-eye-open"></i></a>
							<button class="btn btn-success" ng-disabled="storyform.$invalid" ng-click="publish()"><i class="icon-arrow-right"></i></button>
						</div>
						
						</div>
						
	 				</fieldset>		
	 				
	 				<fieldset id="tabletpushoverride" class="row-fluid">

						<div class="span4 sidehead">
						<h4><i  ng-class="{true: 'error icon-remove', false: 'unpublished icon-ban-circle'}[isPublished]"></i> Push Alert</h4>
						<div ng-show="isPublished" class="xsmall label-text"><em>3/2/2013 4:48 PM</em> | <a href="#">DETAILS</a></div>

						</div>
					
					
					
						<div class="span7 headlineoverride">
						
						
						<div class="input-append"><input type="text" placeholder="" ng-model="weboverride8" ng-class="{true: '', false: 'overrideheadline'}[isOverride]" class="overrideheadline" ng-click="hloverride()" value="{{defaultheadline}}">
							<div  class="charcount btn disabled"><strong ng-bind="0 + weboverride.length"></strong> / 55</div>
							<a href="#preview1" data-toggle="modal" class="btn" ng-disabled="storyform.$invalid"><i class="icon-eye-open"></i></a>
							<button class="btn btn-success" ng-disabled="storyform.$invalid" ng-click="publish()"><i class="icon-arrow-right"></i></button>
						</div>
						
						</div>
						
	 				</fieldset>	
	 				
	 				<h3 class="bordertop span12"><i class="p-icon-twitter"></i> Twitter</h3> 	
	 				
	 				<fieldset id="twitteroverride" class="row-fluid">

						<div class="span4 sidehead">
						<h4><i ng-class="{true: 'published icon-ok', false: 'unpublished icon-ban-circle'}[isPublished]"></i> Push Alert</h4>
						<div ng-show="isPublished" class="xsmall label-text publishdate"><em>3/2/2013 4:48 PM</em></div>
						</div>
					
					
					
						<div class="span7 headlineoverride">
						
						
						<div class="input-append">
							<input type="text" placeholder="" ng-model="weboverride5" class="overrideheadline" value="#BREAKING:{{defaultheadline}} usat.ly/1234567 ">
							<div  class="charcount btn disabled"><strong ng-bind="0 + weboverride.length"></strong> / 140</div>
							<a href="#preview1" data-toggle="modal" class="btn" ng-disabled="storyform.$invalid"><i class="icon-eye-open"></i></a>
							<button class="btn btn-success" ng-disabled="storyform.$invalid" ng-click="publish($isPublished)"><i class="icon-arrow-right"></i></button>
						</div>
						
						</div>
						
	 				</fieldset> 							
						
				</fieldset>