<ul class="nav pull-right">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Asbury Park Press	
            <b class="caret"></b>
        </a>
        
					
        <ul class="dropdown-menu">
							<li class="nav-header">Recent</li>
        	<li><a href="#confirm1" data-toggle="modal">My Central Jersey</a></li>
									<li><a href="#confirm1" data-toggle="modal">Daily Record</a></li>
					<li class="divider"></li>
							<li class="nav-header">All</li>
        	<li><a href="#confirm1" data-toggle="modal">Asbury Park Press</a></li>
									<li><a href="#confirm1" data-toggle="modal">My Central Jersey</a></li>
									<li><a href="#confirm1" data-toggle="modal">Courier Post</a></li>
									<li><a href="#confirm1" data-toggle="modal">Daily Record</a></li>
									<li><a href="#confirm1" data-toggle="modal">The Daily Journal</a></li>
        </ul>

    </li>
</ul>